.search_page {
 
}

.search_page .section1 {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 1px 0;
  z-index: 13;
}

.search_page .section2 {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.notice {
  text-align: center;
  font-weight: bold;
}


.search_list_wrap {
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 15px 0;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 25%);
  margin: 0 auto;
}

.search_list_wrap::-webkit-scrollbar {
  overflow: hidden;
  height: 0px;
}

.search_list_wrap li {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline;
  background: #ECFAFA;
  box-sizing: border-box;
  padding: 1%;
  margin: 1%;
  border-radius: 20px;
  color: #30A9A6;
}

.search_list_wrap li span {
  cursor: pointer;
  padding: 1%;
}

.search_list_wrap li button {
  box-sizing: border-box;
  color: #30A9A6;
  border: none;
  margin-left: 15px;

}