.search_page {
  max-width: 1200px;
  margin: 0 auto;
}

.notice {
  text-align: center;
  font-weight: bold;
}


.search_list {
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 15px 0;
  box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 25%);
  margin: 0 auto;
}

.search_list li {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 15px;
  display: inline;
}