.modal_bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.1);
}

.modal_bg.close {
  display: none;
}

.modal_wrap {
  width: 560px;
	height: 85vh;
	max-height: 720px;
	border-radius: 10px;
	overflow-x: hidden;
	overflow: hidden;
	background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
	box-shadow: 3px 3px 20px 10px rgb(0 0 0/ 15%);
  /* animation: ss 300ms linear; */
}

.modal_header {
	background: #333333;
	position: relative;
	width: 100%;
	height: 40px;
}

.modal_header h1 {
  color: #fff;
}

.modal_header .close {
  background: none;
	border: none;
	color: #fff;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 1%;
	width: 6%;
	height: 100%;
	font-size: 2.4rem;
}

.modal_main {
  height: calc(100% - 80px);
  overflow: auto;
}

.modal_buttons {
  width: 100%;
	font-size: 1.8rem;
	border-top: 1px solid #ddd;
	height: 40px;
  display: flex;
}

.modal_buttons button {
  flex: 1;
  border: none;
  border-top: 1px solid #ddd;
  color: #fff;
}

.modal_buttons button:first-child {
  background: #808080;
}

.modal_buttons button:last-child {
  background: #30DAD9;
}

/* @keyframes ss {
  0% {
    transform: scale(0.9);

  }
  45% {
    transform: scale(1.01);
  }

  80% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
} */